error.txt

ext/.libs/
ext/modules/
ext/Makefile
ext/Makefile.fragments
ext/Makefile.objects
ext/autom4te.cache/
ext/build/
ext/config.h
ext/config.h.in
ext/config.log
ext/config.nice
ext/config.status
ext/configure
ext/configure.ac
ext/libtool
ext/run-tests.php
ext/*.dep
ext/*.la
ext/*.lo
